@font-face {
  font-family: 'Apercu Light';
  src: url('/palmyra/fonts/apercu_light.ttf');
}

@media (min-width: 36em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}

body {
  min-height: 100%;
  text-align: left;
  color: #111111;
  background: #FFFFFF;
  line-height: 1.5;
  font-family:"Apercu Light", Georgia, Calibri, Roboto, sans-serif;
  font-weight:200;
  font-style:normal;
}


a {
  text-decoration: none;
  border: none;
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: #B0B0B0;
}	

.logo {
  float:left;
  margin-left:1em;
  margin-bottom:2em;
}

.menu {
  float:right;
  margin-right: 2em;
  margin-bottom: 2em;
}


